
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4e6ff;
    color: #4b0082;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4b145b;
    color: white;
    padding: 15px;
    font-size: 28px;
font-family: 'Playfair Display', serif;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #4b1451;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
.product-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 30px;
}
.product-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 200px;
    padding: 15px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}
.category-box {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 250px;
    padding: 15px;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
}

.category-box h2 {
    color: #800080;
    border-bottom: 2px solid #800080;
    padding-bottom: 8px;
}

.category-box ul {
    list-style-type: none;
    padding: 0;
}

.category-box li {
    background-color: #f4e6ff;
    margin: 6px 0;
    padding: 8px;
    border-radius: 8px;
}

.heart {
    font-size: 22px;
    display: block;
    margin-top: 8px;
    color: gray;
}

.heart:hover {
    color: red;
}
.heart-icon {
    font-size: 24px;
    color: red;
    cursor: pointer;
}
.heart-icon.saved {
    color: red;
}
.active-heart{
colour:red
}