{% extends 'base.html' %}
{% block content %}
<h2 class="mb-4 text-center">Category: {{ category }}</h2>
<div class="row">
  {% for p in products %}
  <div class="col-md-4 mb-4">
    <div class="card">
      <a href="{{ url_for('product', product_id=p.id) }}">
        <img src="{{ url_for('static', filename='images/' + p.image) }}" class="card-img-top">
      </a>
      <div class="card-body text-center">
        <h5 class="card-title">{{ p.name }}</h5>
        <p class="card-text text-success">₹{{ p.price }}</p>
        <a href="{{ url_for('product', product_id=p.id) }}" class="btn btn-primary">View Details</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}